#menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    /*padding: 10px;*/
}
.menu-item {
    border: 2px solid black;
    background-color: black;
    /*padding: 10px 20px;*/
    width: 35px;
    height: 1%;
    border-radius: 25px;
}
#overlay {
    position: fixed;
    top: 105px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 39, 39, 0.99);
    display: none;
    color: white;
}
.menu-card p{
    height: 20%;
    border-bottom: white solid 2px;
}
.menu-card {
    text-align: center;
    font-size: 150%;
}